<!DOCTYPE html>
<html>
  <head>
    <title>Lexie's Skill Set</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills I've Learned So Far!</h1>
    <p><a href= "/skills">Here are the current skills that I've learned and feel comfortable using ...so far</a></p>
  </body>
</html>
