<!DOCTYPE html>
<html>
  <head>
    <title>New Skill!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action ="/skills" method="POST" autocomplete="off">
        <p>Name of dev skill:</p><input type="text" name="name">
        <br>
        <p>How much enjoyment did I have? !-!!!!!:</p><input type="text" name="enjoyment">
        <br>
        <p>How hard was this for you? Easy/Medium/Hard:</p><input type="text" name="difficulty">
        <button type="submit">Save Information</button>
    </form>
  </body>
</html>

